#terminal {
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
}

#terminal #terminal_view {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #282a36;
    max-width: 860px;
}

.xterm-viewport.xterm-viewport {
    scrollbar-width: thin;
}

.xterm-viewport::-webkit-scrollbar {
    width: 10px;
}

.xterm-viewport::-webkit-scrollbar-track {
    opacity: 0;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    min-height: 20px;
    background-color: #ffffff20;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0b0b33;
    width: 100%;
}

.banner-content {
    font-family: sans-serif;
    font-size: 22px;
    padding: 0.5rem;
    color: #ffffffff;
    text-align: center;
}

.navbar-xs .navbar-brand {
    padding: 0px 12px;
    font-size: 22px;
}

.navbar-xs .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}